footer{
    padding: 50px;
    background-color: #000113;
}

footer .container {
    display: flex;
  }

footer h3{
    font-size: 24px;
    text-transform: uppercase;
    font-family: Roboto;
    margin-bottom: 32px;
}

footer .container div{
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-width: 240px;
    font-size: 12px;
}

footer button.rounded-btn{
    border-radius: 0px;
    height: 30px;
}
footer .container div div{
    padding: 0px;
    flex-direction: row;
    justify-content: space-between;
}

footer form input{
    margin-bottom: 5px;
    height: 30px;
    width: 100%;
}
footer form input::placeholder{
    font-weight: bold;
    font-size: 16px;
}

#spacex-logo{
    height: auto;
    width: 50%;
    color: white;
}