@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* BEGIN: Global */

body{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    color: #fff;
}

ul{
    padding: 0;
}

a{
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    color: #fff;
}

header, section{
    height:100vh;
    display: flex;
}

.container{
    width: 960px;
    margin: 0 auto;
}

section{
    padding-top: 70px;
    padding-bottom: 70px;
}

.rounded-btn{
    min-width: 200px;
    height: 40px;
    border: none;
    border-radius: 50px;
    background-image: -moz-linear-gradient( 170deg, rgb(91,21,135) 0%, rgb(60,57,144) 45%, rgb(29,93,153) 100%);
    background-image: -webkit-linear-gradient( 170deg, rgb(91,21,135) 0%, rgb(60,57,144) 45%, rgb(29,93,153) 100%);
    background-image: -ms-linear-gradient( 170deg, rgb(91,21,135) 0%, rgb(60,57,144) 45%, rgb(29,93,153) 100%);  
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 20px;
}

.rounded-btn:hover{
    background-image: -moz-linear-gradient( 170deg, rgb(29,93,153) 0%, rgb(60,57,144) 55%, rgb(91,21,135) 100%);
    background-image: -webkit-linear-gradient( 170deg, rgb(29,93,153) 0%, rgb(60,57,144) 55%, rgb(91,21,135) 100%);
    background-image: -ms-linear-gradient( 170deg, rgb(29,93,153) 0%, rgb(60,57,144) 55%, rgb(91,21,135) 100%);
} 



  
button{
    /* pas encore coder */
}

h1{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 60px;
}

h2{
    font-size: 30px;
    color: #fff;
    font-weight: 200;
}

/* END: Global */

/* BEGIN: Header */

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    display: inline;
    text-transform: uppercase;
    margin-right: 50px;
    font-weight: 300;
}

nav ul .bx{
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.title-site-light{
    font-weight: 100;
}

#title-site h1{
    color: #fff;
}

#overlay{
    position: absolute;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
}

video{
    position: absolute;
    height: 100vh;
    object-fit: cover;
}

#title-zone{
    width: 100%;
    height: 70vh;
    position: relative;
}

#title-site{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    text-align: center;
}

.compteur-box{
    width: 200px;
    height: 150px;
    margin-right: 50px;
}

.number{
    font-size: 60px;
    color: #fff;
    font-weight: 200;
}

.title-compteur{
    font-size: 15px;
    color: #fff;
    font-weight: 200;
    text-transform: uppercase;
}

/* END: Header */

/* BEGIN: Presentation */

#presentation{
    background-color: blue;
}

/* END: Presentation */

/* BEGIN: Actus */

#actus{
    background-color: green;
}

/* END: Actus */

#reservation{
    background-color: yellow;
}

/* BEGIN: Produits */

#produits{
    background-color: pink;
}

/* END: Produits */

/* BEGIN: Testimonial */

#testimonial{
    background-color: purple;
}

/* END: Testimonial */

/* BEGIN: Footer */

footer{
    background-color: black;
}

/* END: Footer */