@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* BEGIN: Global */

html {
    scroll-behavior: fast;
  }

body{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    color: #fff;
}

header, section{
    height:100vh;
    display: flex;
}

ul{
    padding: 0;
}

a{
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    color: #fff;
}

input{
    outline: none;
}

.container{
    width: 960px;
    margin: 0 auto;
}

section{
    padding-top: 10px;
}

.rounded-btn{
    min-width: 130px;
    justify-content: center;
    height: 40px;
    border: none;
    border-radius: 50px;
    background-image: -moz-linear-gradient( 170deg, rgb(91,21,135) 0%, rgb(60,57,144) 45%, rgb(29,93,153) 100%);
    background-image: -webkit-linear-gradient( 170deg, rgb(91,21,135) 0%, rgb(60,57,144) 45%, rgb(29,93,153) 100%);
    background-image: -ms-linear-gradient( 170deg, rgb(91,21,135) 0%, rgb(60,57,144) 45%, rgb(29,93,153) 100%);  
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.rounded-btn:hover{
    background-image: -moz-linear-gradient( 170deg, rgb(29,93,153) 0%, rgb(60,57,144) 55%, rgb(91,21,135) 100%);
    background-image: -webkit-linear-gradient( 170deg, rgb(29,93,153) 0%, rgb(60,57,144) 55%, rgb(91,21,135) 100%);
    background-image: -ms-linear-gradient( 170deg, rgb(29,93,153) 0%, rgb(60,57,144) 55%, rgb(91,21,135) 100%);
}

h1{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 60px;
}

h2{
    font-size: 30px;
    color: #fff;
    font-weight: 200;
    margin-bottom: 20px;
}

h3{
    font-size: 65px; 
}

h4{
    font-weight: 800;
    font-size: 30px;
}

.section-title h3 {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.title::after{
    content: '';
    transform-origin: 0 0;
    transform: scaleX(0);
    height: 20px;
    position: absolute;
    bottom: 5px;
    background: red;
    opacity: 1;
    transition: transform .4s, left .4s;
    z-index: -1;
    left: 100%;
    width: 40%;
}
section:hover .title:after{
    transform: scaleX(1);
    left: 0%;
}
.title{
    z-index: 1;
}

#fusee_back{
    background: url("../img/fusee_back.svg") no-repeat;
    width: 120px;
    height: 200px;
    z-index: 10;
    position: fixed;
    top: 70%;
    right: 100px;
    cursor: pointer;
}

#fusee_back:hover{
    background: url("../img/fusee_back_fire.svg") no-repeat;
    animation-name: shake;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    10% { transform: translate(-2px, 0) rotate(-1deg); }
    20% { transform: translate(1px, 0) rotate(1deg); }
    30% { transform: translate(-1px, 0) rotate(-1deg); }
    40% { transform: translate(1px, 0) rotate(1deg); }
    50% { transform: translate(-1px, 0) rotate(-1deg); }
    60% { transform: translate(1px, 0) rotate(1deg); }
    70% { transform: translate(-1px, 0) rotate(-1deg); }
    80% { transform: translate(1px, 0) rotate(1deg); }
    90% { transform: translate(-2px, 0) rotate(-1deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

section:hover .title:after{
    transform: scaleX(1);
    left: 0%;
}

.title{
    z-index: 1;
}

#nav-mobile{
    width: 100%;
    height: 100vh;
    background-color: #000113;
    position: absolute;
    right: 0;
    padding: 10px;
    z-index: 99999;
    top: 0;
    display: none;
}

#nav-mobile ul{
    margin-top: 50px;
}

#nav-mobile li{
    list-style: none;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
}

#nav-mobile .close-nav-mobile{
    font-size: 20px;
    cursor: pointer;
}

#nav-mobile li:hover, .close-nav-mobile:hover{
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}
  
@-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
}

/* END: Global */

/* BEGIN: Header */

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    display: inline;
    text-transform: uppercase;
    margin-right: 50px;
    font-weight: 300;
}

nav ul .bx{
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.title-site-light{
    font-weight: 100;
}

#title-site h1{
    color: #fff;
}

#overlay{
    position: relative;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
}

video#video_principal{
    position: absolute;
    height: 100vh;
    object-fit: cover;
}

#title-zone{
    width: 100%;
    height: 70vh;
    position: relative;
}

#title-site{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    text-align: center;
}

.compteur-box{
    width: 200px;
    height: 150px;
    margin-right: 50px;
}

.number{
    font-size: 60px;
    color: #fff;
    font-weight: 200;
}

.title-compteur{
    font-size: 15px;
    color: #fff;
    font-weight: 200;
    text-transform: uppercase;
}

/* END: Header */

/* BEGIN: Presentation */

#presentation{
    background-color: #000113;
}

#presentation p{
    font-weight: 200;
}

.spaceship {
    width: 200px;
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

/* END: Presentation */

/* BEGIN: Actus */

#actus{
    background-color: #000113;
}

#actus .card {
    border: none;
}

#actus .card-footer{
    background: #fff;
    border: none;
}

/* END: Actus */

/* BEGIN: Réservation */

#reservation{
    background-color: #000113;
}

#reservation .noday{
    opacity: 0;
    cursor: auto !important;
}

#reservation .price_value{
    margin-left: 5px;
    margin-right: 5px;
}

#reservation p, #reservation label, #reservation i, #reservation h4, #reservation h2{
    color: #000000;
}

#next-calendar-btn i, #previous-calendar-btn i{
    color: #fff !important;
    font-weight: 200;
}

#reservation .icon-calendar{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: #ffffff;
    margin-left: 20px;
    text-align: center;
}

#reservation .icon-calendar i{
    background: rgb(175,81,163);
    background: linear-gradient(90deg, rgba(175,81,163,1) 0%, rgba(128,67,161,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    padding: 5px;
    line-height: 30px;
}

#reservation .icon-wrapper p{
    width: 250px;
    height: 40px;
    font-size: 13px;
    margin-left: 10px;
    line-height: 14px;
    color: #ffffff;
}

#reservation #calendar{
    background: #ffffff;
    border-radius: 16px;
    padding: 20px;
    min-height: 500px;
    position: relative;
}

#reservation #filter{
    margin-right: 10px;
}

#reservation #filter label{
    font-weight: bold;
}

#reservation #filter #budget{
    margin-top: 10px;
}

#reservation #filter #sejour,
#reservation #filter #budget
{
    background: #ffffff;
    border-radius: 16px;
    padding: 20px;
    min-height: 100px;
}

#reservation #calendar #calendar-header img{
    margin-right: 8px;
    min-width: 32px;
}

#reservation #calendar #calendar-header #mounth-title i{
    font-size: 30px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}

#reservation #calendar #calendar-body{
    height: 370px;
}

#reservation #calendar #calendar-body #mounth-left,
#reservation #calendar #calendar-body #mounth-right
{
    width: 50%;
    height: 60px;
    margin-top: 20px;
}

#reservation #calendar #calendar-body .days{
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#reservation #calendar #calendar-body .days-title{
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(32, 34, 73, 0.5);
}

#reservation #calendar #calendar-body .days:hover{
    animation-name: bounce;
    animation-duration: 0.2s;
}

@keyframes bounce {
    0%   {
        padding: 5px;
    }
    50%  {
        padding-top: 10px;
    }
    100% {
        padding: 5px;
    }
  }

#reservation #calendar #calendar-body .days p{
    font-size: 10px;
    padding: 0;
    margin: 0;
}

#reservation #calendar #calendar-body .days p.price{
    font-size: 12px;
    font-weight: bold;
}

#reservation #calendar #estimation{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}
#reservation #calendar #estimation .price_estimation{
    font-size: 18px;
    font-weight: bold;
}

#reservation #calendar .fusee_value{
    font-size: 18px;
    font-weight: bold;
}

#reservation #calendar #next-calendar-btn i, #reservation #calendar #previous-calendar-btn i{
    font-size: 20px;
    font-weight: bold;
}

#reservation .info-price{
    margin-left: 5px;
}

/* END: Réservation */

/* BEGIN: Produits */

#produits{
    background-color: #ffffff;
}

#produits h3{
    color: #000000;
    font-weight: 100;
    font-size: 50px;
    text-align: left;
}

#produits .video-bracelet{
    width: 200px;
    height: 200px;
}

#produits .title-product{
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}

#produits .price-product{
    color: #000000;
    font-weight: 200;
}

#produits .product-content{
    min-height: 300px;
}

/* END: Produits */

/* BEGIN: Testimonials */

#testimonial{
    background-color: black;
}

#testimonial .card{
    border: solid white;
    background-color: transparent;
}

.outer{
    position:relative;
    border: none;
}

.outer:before, .inner:after{
    content:'';
    position:absolute;
    height:15%;
    width:7%;
}

#avis-card{
    position: relative;
    overflow: visible;
}

.quote-left{
    position: absolute;
    top: -10px;
    z-index: 10;
}

.quote-right{
    position: absolute;
    z-index: 10;
    bottom: -10px;
    right: 0;
}

.outer:before{
    border-left: 5px solid black;
    border-top: 5px solid black;
    position: absolute;
    left: -3px;
    top: -3px;
}

.inner:after{
    bottom:0; right:0;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    position: absolute;
    right: -3px;
    bottom: -3px;
}

#testimonial i{
    color: white;
    font-size: 40px;
}

.carousel-indicators button{
    margin: 0 4px 0 4px;
    width: 10px;
    height: 10px;
    text-align: center;
  }

  .carousel-indicators .active{
    background-color: white;
  }

  .carousel-item p{
    font-weight: 200;
  } 

/* END: Testimonials */


/* BEGIN: RESPONSIVE */

@media screen and (max-width: 930px) {

    .container{
        width: 100%;
    }

    .nav-left{
        display: none;
    }

    nav{
        justify-content: end !important;
    }

    .second_card{
        display: none;
    }

    .third_card{
        display: none;
    }

    .calendar-wrapper{
        display: flex;
        flex-direction: column;
    }

    .mounth-next{
        display: none;
    }

    #mounth-right{
        display: none;
    }

    #calendar-body{
        display: flex !important;
        justify-content: center !important;
    }

    h4{
        font-size: 20px;
    }

    h3{
        font-size: 40px;
    }

    section{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .section-title h3{
        margin-bottom: 10px;
    }

    .title::after{
        height: 10px;
    }

    #reservation #filter #sejour, #reservation #filter #budget{
        padding: 10px !important;
    }

    #reservation #calendar #calendar-body{
        height: 255px !important;
    }

    .price_estimation{
        display: none;
    }

    #info_choice{
        display: none !important;
    }    

    #calendar{
        margin-top: 10px;
        padding: 10px;
    }

    #estimation{
        justify-content: space-between !important;
    }

    #reservation #calendar{
        min-height: 0 !important;
    }
    
    .product-content{
        display: flex !important;
        flex-wrap: wrap;
    }

    .video-bracelet{
        margin-bottom: 150px;
    }

    .second-line-product{
        display: none !important;
    }

    .quote-left{
        top: 10px !important;
    }

    .quote-right{
        bottom: 10px !important;
    }

    .newsletter-btn{
        min-width: 0 !important;
    }

    .compteur-box{
        margin-right: 0;
    }

    .zone-compteur{
        margin-top: 100px;
    }

    #fusee_back{
        top: 60%;
        right: 0px;
    }

    #title-zone{
        height: 50vh !important;
    }
}

/* END: RESPONSIVE */